@model GIGMWEB.Models.PaySwitchResponseModel
@{
    ViewBag.Title = "PaySwitchPayment";
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*<link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />*@
    <title></title>
</head>
<body>


<form id="formPay">
    @*<a class="ttlr_inline"  id="ttlr_inline"
       data-APIKey="MmY4NzRmNmU2MTIyOGFjYWZhODFkNzFjMWEyMmJmYTc="
       data-transid="<%=transid.Text%>"
       data-amount="10" 
       data-customer_email="<%= customer_email.Text %>"theTellerResponseUrl
       data-currency="GHS"
       data-redirect_url="<%= redirect_url.Text %>"
       data-pay_button_text="Pay Now"
       data-custom_description="GIGM M-site Payment"
       data-payment_method="both">
        <img src="img/pay-with-payswitch.png" />
    </a>*@
    
    
    <a class="ttlr_inline"
       data-APIKey="@Model.APIKey"
       data-transid="@Model.transid"
       data-amount="@Model.amount"
       data-customer_email="@Model.customer_email"
       data-currency="GHS"
       data-redirect_url="@Model.redirect_url"
       data-pay_button_text="Pay Now"
       data-custom_description="Payment Using InlineJS"
       data-payment_method="both">
        My Pay
    </a>
</form>


@*<asp:Literal ID="customer_email" runat="server" Visible="False"></asp:Literal>
<asp:Literal ID="amount" runat="server" Visible="False"></asp:Literal>
<asp:Literal ID="transid" runat="server" Visible="False"></asp:Literal>
<asp:Literal ID="normalize" runat="server" text="1" Visible="False"></asp:Literal>
<asp:Literal ID="APIKey" runat="server" Visible="False"></asp:Literal>
<asp:Literal ID="redirect_url" runat="server" Visible="False"></asp:Literal>
<asp:Literal ID="redirect_no_json" runat="server" text="1" Visible="False"></asp:Literal>*@

<p>
    <br/>
</p>
<div class="row main down-20 no-margin">
    <div class="container">
        <div class="col-sm-12 text-center">
            <img src="~/img/Processing.gif" class="text-center"/>
            <span style="font-size: 20px;">
                <p>
                    Redirecting to payment gateway. It might take a few seconds.
                    <br/>
                    Please do not refresh the page or click the "Back" or "Close" button of your browser.
                </p>
            </span>
        </div>
    </div>
</div>


@*<script>

    window.addEventListener('load', (event) => {


        var evt = new MouseEvent('click', {
            view:window,
            bubbles:true,
            cancelable:true
        });
        
        var pay = document.querySelector('#btnPay');

        pay.dispatchEvent(evt);

    });
    //document.onload = function () {
    //    document.getElementById("btnPay").click();
    //    //$("#btnPay").trigger('click');
    //}
</script>*@
<script type="text/javascript" src="@Model.buttonurl"></script>
<script>
   $(document).ready(function () {
    		//Id of your button control either it is server  control or simple html control
    		$("button").click();
    	});
</script>
</body>
</html>


