@{
	ViewBag.Title = "terminal";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@



<link href="~/Content/terminal.css" rel="stylesheet" />



<div ng-controller="TerminalsController"  ng-cloak>
	<section class="main z-depth-1-half">
		<!--Double navigation-->
		<header class="">
			<!-- Sidebar navigation -->
			<ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar">
				<!-- Logo -->
				<li>
					<div class="logo-wrapper waves-light">
						<a href="@Url.Action("Home", "Pages")">
							<img src="https://gigm.com/webassets/img/gigm-logo.png" class="img-fluid flex-center">
						</a>
					</div>
				</li>
				<!--/. Logo -->
				<!--Social-->
				<li>
					<ul class="social">
						<li>
							<a class="openapp icons-sm fb-ic" data-id="217054755026942">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/gigmotors" class="icons-sm pin-ic">
								<i class="fa fa-instagram"> </i>
							</a>
						</li>
						@*<li>
					<a class="icons-sm gplus-ic">
						<i class="fa fa-google-plus"> </i>
					</a>
				</li>*@
						<li>
							<a class="opentwitter icons-sm tw-ic">
								<i class="fa fa-twitter"> </i>
							</a>
						</li>
					</ul>
				</li>
				<!--/Social-->
				<!--Search Form-->
				<!-- <li>
					<form class="search-form" role="search">
						<div class="form-group waves-light">
							<input type="text" class="form-control" placeholder="Search">
						</div>
					</form>
				</li> -->
				<!--/.Search Form-->
				<!-- Side navigation links -->
				<li id="links">
                    <ul class="collapsible collapsible-accordion ">
                        <li>
                            <a class="collapsible-header waves-effect arrow-r" href="/">
                                <i class="fa fa-home"></i> Home
                                <!-- <i class="fa fa-angle-down rotate-icon"></i> -->
                            </a>
                            <!-- <div class="collapsible-body">
            <ul>
                <li>
                    <a href="#" class="waves-effect">Submit listing</a>
                </li>
                <li>
                    <a href="#" class="waves-effect">Registration form</a>
                </li>
            </ul>
        </div> -->
                        </li>
                        @{
        Html.RenderPartial("Profile");
                        }
						<li>
							<a class="collapsible-header waves-effect arrow-r">
								<i class="fa fa-phone"></i> Contact us
								<i class="fa fa-angle-down rotate-icon"></i>
							</a>
							<div class="collapsible-body">
								<ul>
									<li>
										<a href="/Pages/Faq" class="waves-effect">FAQ</a>
									</li>
									<li>
										<a href="tel:08139851110" class="waves-effect">Call us</a>
									</li>
								</ul>
							</div>
						</li>



                        <li>
                            <a href="@Url.Action("Terminal","Pages")" class="collapsible-header waves-effect arrow-r">
                                <i class="fa fa-info"></i> Bus Terminal info
                            </a>
                        </li>
						<li>
							<!--/. Sidebar navigation -->
							<a href="@Url.Action("Enterprise","Pages")" style="height:100%" class="collapsible-header waves-effect arrow-r">
								<i class="fa fa-check" style="margin-right: 8px;"></i> Become An Enterprise <p style="margin-left:11.5%; margin-top: -5%;">Partner</p>
							</a>
						</li>
                    </ul>
				</li>
				<!--/. Side navigation links -->
				<div class="sidenav-bg mask-strong"></div>
			</ul>
			<!--/. Sidebar navigation -->
			<!-- Navbar -->
			<nav class="navbar  navbar-toggleable-md navbar-expand-lg scrolling-navbar custom double-nav">
				<!-- SideNav slide-out button -->



				<div class="paddo" style="">
					<a href="#" data-activates="slide-out" class="button-collapse">
						<i class="fa fa-bars" style="color:white"></i>
					</a>

				</div>
				<!-- Breadcrumb-->
				<!-- <div class="breadcrumb-dn mr-auto ">
					<p>Material Design for Bootstrap</p>
				</div> -->


				<div class="middle">
					<h5 class="text-left text-white" ng-if="rvm.isLoggedIn" ng-click="rvm.getHistory()">Hello, {{rvm.user.FirstName.split(' ')[0]}}</h5>
					<h5 class="text-left text-white" style="padding-left:5px" ng-if="!rvm.isLoggedIn" href="#" data-toggle="modal" data-target="#modalLRForm">Bus Terminals</h5>
				</div>
				<div class="text-right">
					<a href="/" class="button-collapse2">
						<i class="fa fa-chevron-left"></i>
					</a>
				</div>



			</nav>

			<!-- /.Navbar -->
		</header>
		<!--/.Double navigation-->
		<!--Main Layout-->


	</section>


	<div class="md-form form-group custom-md-form" >
		<label for="search" class="">Search </label>
		<input type="text" id="search" class="form-control "  ng-model="test">
		<i class="fa fa-search custom-search-account"></i>
	</div>



	<div class="card card-cascade" ng-repeat="(key, value) in players | filter:test | groupBy: 'State'">

		<!--Card image-->
		<div class="view gradient-card-header peach-gradient" >
			<h2 class="h2-responsive">{{ key }}</h2>
			
		</div>
		<!--/Card image-->
		<!--Card content-->
		<div class="card-body text-center" ng-repeat="player in value">
			<b>{{ player.Terminal }}</b>
			<p class="card-text" >
				{{player.Address}}
			</p> 
			@*<h3 class="card-text" ng-repeat="x in player.Routes">
				{{x.route}}
			</h3>*@
			<hr>
			<!--Twitter-->
			<a class="tw-ic"><i class="fa fa-envelope-o"> </i>{{player.Emails}} </a>
			<!--Linkedin-->
			<a class="tw-ic"><i class="fa fa-phone"> </i>{{player.Phone}}</a>
		
		</div>
		<!--/.Card content-->

	</div>


	@{
		Html.RenderPartial("AuthModal");
	}
</div>




































